# 
#
# SPDX-License-Identifier: MIT
# Copyright (c) 2021 Benjamin Schilling

[Unit]
Description=netctl service

[Service]
Type=simple
ExecStart=/bin/bash /opt/netctl/netctl.sh

[Install]
WantedBy=multi-user.target